<!DOCTYPE html>

<nav class="navbar navbar-default_blue navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>
          Profile
        </b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <button (click)="goToProfile(username, email, firstName, lastName)"  class="navbar-link jj-button">
        <span class="jj-button-text glyphicon glyphicon-ok"></span>
      </button>
    </p>
  </div>
</nav>


<div class="container-fluid jj-body">
  <form>
    <div class="form-group">
      <label for="username">
        Username
      </label>
      <input [(ngModel)]="username"
             name="username"
             id="username"
             type="text"
             placeholder="Username"
             class="form-control"/>

      <label for="email">
        Email
      </label>
      <input [(ngModel)]="email"
             name="email"
             id="email"
             type="email"
             placeholder="Email"
             class="form-control"
             email/>

      <label for="First Name">
        First Name
      </label>
      <input [(ngModel)]="firstName"
             name="First Name"
             id="First Name"
             type="text"
             placeholder="First Name"
             class="form-control"/>

      <label for="Last Name">
        Last Name
      </label>
      <input [(ngModel)]="lastName"
             name="Last Name"
             id="Last Name"
             type="text"
             placeholder="Last Name"
             class="form-control"/>
    </div>
  </form>

  <button (click)="websites()"
          class="btn btn-primary btn-block jj-button-hover"
          aria-pressed="true">
    Websites
  </button>
  <button class="btn btn-warning btn-block jj-button-hover"
          aria-pressed="true"
          [routerLink]="['/login']">
    Logout
  </button>
  <button class="btn btn-danger btn-block jj-button-hover"
          aria-pressed="true"
          (click)="deleteAccount(userId)">
    Delete Account
  </button>

</div>

<nav class="navbar navbar-default_blue navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <button class="jj-button" (click)="cancelChanges()">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </p>
  </div>
</nav>

