<div class="container-fluid">
  <button class="jj-button-profile jj-card" (click)="editProfile()">
    <img class="jj-img-padding" src="{{picture}}">
    <div class="jj-container">
      <h4><b>{{firstName}} {{lastName}}</b></h4>
    </div>
  </button>

  <div *ngFor="let user of follows">
    <button (click)="goToUserProfile(user._id)">{{user.firstName}} {{user.lastName}}</button>
  </div>
  <button class="btn btn-warning btn-block jj-button-hover"
          aria-pressed="true"
          [routerLink]="['/login']">
    Logout
  </button>
</div>
<button class="btn btn-warning btn-block jj-button-hover"
        aria-pressed="true"
        [routerLink]="['/login']">
  Logout
</button>
<button class="btn btn-warning btn-block jj-button-hover"
        (click)="createPost()">
</button>



<app-post-list></app-post-list>
