<!DOCTYPE html>
<body xmlns="http://www.w3.org/1999/html">
<div class="jj-bg">
  <div class="jj-font">
    <h1 class="jj-h1">
      SpaceBook
    </h1>
    <div>
      <form class="jj-form" #f="ngForm">
        <input name="username"
               id="username"
               type="text"
               placeholder="username"
               class="form-control"
               ngModel
               required
               #username="ngModel"/>
        <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter a username!
        </span>
        <input name="password"
               id="password"
               type="password"
               placeholder="password"
               class="form-control"
               ngModel
               required
               #password="ngModel"/>
        <span class="help-block" *ngIf="!password.valid && password.touched">
          Please enter password!
        </span>
        <button (click)="login(username.value, password.value)"
        class="btn btn-primary btn-block jj-button-hover"
        type="submit"
        [disabled]="!f.valid">
        Login
        </button>
        <button class="btn btn-success btn-block jj-button-hover"
                aria-pressed="true"
                [routerLink]="['/register']">
          Register
        </button>
      </form>
    </div>
    <button class="jj-button"><span (click)="goTofindAsteroid()">Find asteroid by ID</span></button>
    <button class="jj-button"><span (click)="goToImageSearch()">Image Search</span></button>
    <button class="jj-button"><span (click)="goToAPOD()">APOD</span></button>
  </div>

</div>

</body>
